body {
	background-color: #e1e2e1;
	font-family: 'Roboto';font-size: 18px;
}

h1 {
	justify-content: center;
	display: inline;
}

.footer {
	font-size: 8px;
	margin-top: 100px;
}

.title {
	font-weight: bold;
}
.nav {
	background-color: #f06292;
	margin-left: 39%;
}
.container-fluid {
	background-color: #f06292;
	text-align: center;
	padding: 10px;
	box-shadow: 2px 5px 5px #669999;
}

.container {
	text-align: center;
	background-color: white;
	border-radius: 5px;
	padding: 35px;
	margin-top: 30px;
	box-shadow: 5px 10px 8px #669999;
}

.emily-material-card {
	background-color: #FFFFFF;
	padding: 25px;
	width: 80%;
	text-align: center;
	border-radius: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	box-sizing: border-box;
	box-shadow: 5px 10px 8px #669999;
}
